/* ===== FLOATING BUTTONS ===== */

.floating-wrapper {
  position: fixed;
  bottom: 28px;
  right: 28px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 999;
}

/* shared btn styles */
.floating-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 14px 25px rgba(0, 0, 0, 0.18);
  transition: all .2s ease-in-out;
}

/* scale animation */
.floating-btn:hover {
  transform: scale(1.08);
}

/* whatsapp btn */
.whatsapp-btn {
  background: #25d366;
  box-shadow: 0 12px 18px rgba(37,211,102,.35);
}

.whatsapp-btn img {
  width: 28px;
}

/* scroll-to-top button */
.top-btn {
  font-size: 20px;
  font-weight: 600;
  background: #111827;
  color: white;
}

/* MOBILE */
@media(max-width:600px) {
  .floating-wrapper {
    bottom: 18px;
    right: 18px;
  }

  .floating-btn {
    width: 46px;
    height: 46px;
  }

  .whatsapp-btn img {
    width: 24px;
  }
}
