/* ===== GLOBAL RESET / BASE ===== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background: #f3f4f6;
  color: #111827;
}

/* Just to ensure root width */
#root {
  min-height: 100vh;
}
